body {
background:#ebeff2 url('images/body_main.png') repeat-y center;
font-family:Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
font-size:100%;
}

#page {
font-size:.875em;
line-height:1.286em;
}

body,caption,th,td,input,textarea,select,option,legend,fieldset {
font-family:Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}

pre,code {
font-family:"Bitstream Vera Sans Mono", "Courier New", monospace;
font-size:1.1em;
}

h1 {
font-size:2em;
line-height:1.3em;
margin-bottom:.5em;
margin-top:0;
}

h2 {
font-size:1.5em;
font-weight:400;
margin-bottom:.667em;
margin-top:.667em;
}

h3 {
font-size:1.3em;
line-height:1.3em;
margin-bottom:.769em;
margin-top:.769em;
}

h4,h5,h6 {
font-size:1.1em;
line-height:1.3em;
margin-bottom:.909em;
margin-top:.909em;
}

p,ul,ol,dl,pre,table,fieldset,blockquote {
margin:1em 0;
}

blockquote {
text-indent: 1.5em;
padding-right: 3em;
font-style: italic;
color: #aaa;
}

ul,ol {
margin-left:0;
padding-left:2em;
}

.block ul,/* Drupal overrides */
.item-list ul {
margin:1em 0;
padding:0 0 0 2em;
}

ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul {
margin:0;
}

.item-list ul li /* Drupal override */ {
list-style:inherit;
margin:0;
padding:0;
}

ul {
list-style-type:disc;
}

ul ul ul {
list-style-type:square;
}

ol ol {
list-style-type:lower-alpha;
}

dd {
margin:0 0 0 2em;
padding:0;
}

a:link,a:visited {
color: #0066CC;
text-decoration:none;
}

#navbar a, .block li a, .breadcrumb a {
  color: #000;
}

table {
border-collapse:collapse;
}

th,thead th,tbody th {
border-bottom:none;
padding-right:0;
text-align:center;
}

tbody {
border-top:none;
}

abbr {
border-bottom:1px dotted #666;
cursor:help;
white-space:nowrap;
}

abbr.created {
border:none;
cursor:auto;
white-space:normal;
}

img {
border:0;
}

hr {
border:1px solid #666;
height:1px;
}

fieldset {
margin:1em 0;
padding:.5em;
}

li,ul.menu li,/* Drupal override */
li.expanded,li.collapsed,li.leaf,dt,form {
margin:0;
padding:0;
}

ul ul,ul ul ul ul {
list-style-type:circle;
}

ol,ol ol ol {
list-style-type:decimal;
}

body {
margin:0;
}

#page {
margin-left:auto;
margin-right:auto;
width:960px;
}

#navigation-top,#navigation {
position:absolute;
left:-10000px;
}

#skip-to-nav {
float:right;
font-size:.8em;
margin:0!important;
}

#skip-to-nav a:link,#skip-to-nav a:visited {
color:#fff;
}

#skip-to-nav a:hover {
color:#000;
text-decoration:none;
}

#logo {
float:left;
margin:0 10px 0 0;
padding:0;
}

h1#site-name,div#site-name {
font-size:2em;
line-height:1.3em;
margin:0;
}

#header-blocks {
clear:both;
}

#main {
position:relative;
}

#content,.two-sidebars #content {
float:left;
width:470px;
margin-left:0;
margin-right:-500px;
padding:0;
}

.sidebar-left #content {
width:700px;
margin-left:0;
margin-right:-700px;
}

.sidebar-right #content {
width:760px;
margin-left:0;
margin-right:-760px;
}

.no-sidebars #content {
width:960px;
margin-left:0;
margin-right:-960px;
}

#content-inner {
margin-top:0;
padding:1.3em 1em 0 0;
}

#navbar {
float:right;
width:503px;
overflow:hidden;
padding:0;
}

#navbar-inner {
margin-left:90px;
padding-left:10px;
border-left:1px solid #ddd;
height:90px;
}

#search-box {
width:400px;
margin-right:0;
float:right;
}

#search-label {
text-transform:uppercase;
font-size:.6em;
line-height:1.8em;
font-weight:700;
padding-bottom:.6em;
letter-spacing:.1em;
}

#secondary {
float:right;
}

#navbar ul /* Primary and secondary links */ {
text-align:left;
margin:0;
padding:0;
}

#navbar li /* A simple method to get navbar links to appear in one line. */ {
float:left;
padding:0 10px 0 0;
}

#sidebar-left {
float:left;
width:260px;
margin-left:0;
margin-right:-760px;
padding:0;
}

#sidebar-left-inner {
margin:.5em 20px 0 0;
padding:0;
}

.two-sidebars #right-container {
float:left;
width:460px;
margin-left:500px;
margin-right:-960px;
padding:0;
}

.sidebar-left #right-container {
float:left;
width:260px;
margin-left:700px;
margin-right:-960px;
padding:0;
}

.sidebar-right #right-container {
float:left;
width:200px;
margin-left:760px;
margin-right:-960px;
padding:0;
}

#sidebar-right {
float:left;
width:200px;
margin-left:260px;
margin-right:-960px;
padding:0;
}

.sidebar-right #sidebar-right {
float:left;
width:200px;
margin-left:0;
margin-right:-960px;
padding:0;
}

#sidebar-right-inner {
margin:.5em 0 0 20px;
padding:0;
}

#header,#content,#navbar,#sidebar-left,#sidebar-right,#footer,#closure-blocks {
overflow:visible;
word-wrap:break-word;
}

#header-inner {
width:960px;
display:block;
}

#header-image {
background:url('images/home_banner.png');
display:block;
width:965px;
height:70px;
margin-top:15px;
text-align:left;
border:1px solid #CCC;
}

#logo-title {
margin-top:36px;
font-family:arial,sans-serif;
float:left;
width:40%;
}

#logo {
vertical-align:bottom;
}

#site-name {
font-size:3em;
font-weight:700;
border-bottom:.2em solid #FFF;
padding:1px;
}

#site-name a:link,#site-name a:visited {
color:#000;
text-decoration:none;
}

#site-name a:hover {
color:#FFF;
background:#000;
}

#site-slogan {
color:#666;
border-top:1px solid #ccc;
font-weight:400;
text-transform:uppercase;
font-size:10px;
display:inline;
letter-spacing:.2em;
padding:.6em 0 0 1.5em;
}

#mission {
border-top:1px solid #dadada;
border-bottom:1px solid #dadada;
background:#f3f9ff;
font-size:.8em;
margin:1.3em 0 1em;
padding:.5em .7em 0;
}

#mission b {
text-transform:uppercase;
line-height:1.8em;
font-weight:700;
letter-spacing:.1em;
color:#224970;
font-size:1em;
}

.breadcrumb {
float:left;
background-color:#FFF;
font-size:24px;
font-family:arial,sans-serif;
margin-top:20px;
padding:5px 5px 5px 0;
}

h1.title,h2.title,h3.title {
margin:0;
}

div.messages {
border:2px solid #ccc;
color:#000;
background-color:#fff;
font-style:italic;
margin:0 1em 5px;
padding:5px;
}

div.warning {
border-color:#ff7;
}

div.warning,tr.warning,body.section-admin tr.warning {
color:#000;
background-color:#ffc;
}

div.error {
border-color:#c00;
}

div.error,tr.error,body.section-admin tr.error {
color:#900;
background-color:#fee;
}

.more-help-link {
font-size:.85em;
text-align:right;
}

.pager {
clear:both;
text-align:center;
margin:1em 0;
}

.pager a,.pager strong.pager-current {
padding:.5em;
}

#search-box .form-text {
background:url('images/input.png');
width:290px;
height:14px;
border:0;
color:#e0691a;
font-weight:700;
padding:5px;
}

#search-box .form-submit {
position:relative;
bottom:2px;
border:0;
background:url('images/submit.png');
width:65px;
height:24px;
color:#FFF;
font-family:arial,sans-serif;
font-size:10.8px;
}

#primary {
float:right;
}

#footer {
color:#666;
border-top:1px dotted #000;
font-size:.9em;
padding:1em 0;
}

#footer a {
color:#333;
}

.node {
font-size:12px;
}

.node-unpublished div.unpublished,.comment-unpublished div.unpublished {
height:0;
overflow:visible;
color:#d8d8d8;
font-size:75px;
line-height:1;
font-family:Impact,"Arial Narrow",Helvetica,sans-serif;
font-weight:700;
text-transform:uppercase;
text-align:center;
word-wrap:break-word;
}

.node .title a:hover {
background:#000;
color:#fff;
}

.node.node-unpublished .picture,.comment.comment-unpublished .picture {
position:relative;
}

ul.links {
float:left;
margin:0;
padding:0;
}

ul.links a:hover {
text-decoration:underline;
}

ul.links li {
display:inline;
list-style-type:none;
padding:0 .5em;
}

.comment_comments a {
background:url('images/comment.png') no-repeat;
padding-left:20px;
}

.node_read_more a {
background:url('images/readon.png') no-repeat;
padding-left:20px;
}

.upload_attachments a {
background:url('images/clipboard.png') no-repeat;
padding-left:20px;
}

.taxonomy-terms a {
background:url('images/category.png') no-repeat;
padding-left:20px;
}

.block {
margin-bottom:1em;
}

.block h2.title, .block h2 {
font-size:9.6px;
text-transform:uppercase;
color:#a11b1b;
letter-spacing:.1em;
padding-bottom:.6em;
font-weight:600;
}

.block li.collapsed,.block li.leaf,.block li.expanded,.block ul li, .block .item-list ul, .block ul, .block .item-list ul li {
list-style-image:none;
list-style-type:none;
margin:0;
padding:0;
}

.block ul, .block li.leaf, .block li {
padding:0;
margin:0;
}

.block li a {
display:block;
width:170px;
border-left:3px solid #dadada;
border-bottom:1px solid #dadada;
margin-top:3px;
text-transform:uppercase;
font-size:.8em;
padding-left:10px;
}

.block li.leaf a,.block li.expanded a {
background:url('images/arrow.png') right no-repeat;
}

.block li.leaf a:hover,.block li.expanded a:hover {
background:#f1f1f1 url('images/arrow3.png') right no-repeat;
}

.block li.collapsed a {
background:url('images/arrow2.png') right no-repeat;
}

.block li.collapsed a:hover {
background:#f1f1f1 url('images/arrow4.png') right no-repeat;
}

.more-link {
text-align:right;
}

#user-login-form {
text-align:left;
}

tr.even,tr.odd {
border-bottom:none;
padding:0;
}

li a.active {
color:#000;
}

.form-item input.error,.form-item textarea.error,.form-item select.error {
border:2px solid #c00;
}

.form-item label {
display:block;
font-weight:700;
}

.form-item label.option {
display:inline;
font-weight:400;
}

.form-item .description {
font-size:.85em;
}

.form-checkboxes .form-item,.form-radios .form-item {
margin:.4em 0;
}

.tips {
font-size:.9em;
margin:0;
padding:0;
}

.section-admin tbody {
border-top:1px solid #ccc;
}

.section-admin tbody th {
border-bottom:1px solid #ccc;
}

.section-admin tr.even,.section-admin tr.odd {
background-color:#eee;
border-bottom:1px solid #ccc;
padding:.1em .6em;
}

span.clear {
display:block;
clear:both;
height:1px;
line-height:0;
font-size:0;
margin-bottom:-1px;
}

.help,.feed-icons,.node div.links,#comments,.comment div.links,.form-item,.form-checkboxes,.form-radios {
margin:1em 0;
}

#footer-message,.taxonomy-terms {
float:left;
}

.marker,.new,.error,.form-required {
color:#c00;
}

ul.links.inline,.container-inline div,.container-inline label {
display:inline;
}

.section-admin th,.section-admin thead th {
text-align:left;
padding-right:1em;
border-bottom:3px solid #ccc;
}
